<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.oprofile.launch.oprofile">
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/PlayBeat"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="PlayBeat"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PlayBeat/Debug/PlayBeat"/>
<listEntry value="/PlayBeat"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
<listEntry value="4"/>
</listAttribute>
<intAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.EXECUTIONS_NUMBER" value="1"/>
<stringAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.KERNEL_IMAGE" value=""/>
<booleanAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.MANUAL_PROFILE" value="false"/>
<stringAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.OPROFILE_COMBO_TEXT" value="operf"/>
<intAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.SEPARATE_SAMPLES" value="0"/>
<booleanAttribute key="org.eclipse.linuxtools.oprofile.launch.oprofile.USE_DEFAULT_EVENT" value="true"/>
</launchConfiguration>
